div {
    width:35px;
    height:5px;
    background-color: plum;
    margin: 6px 0;
    }

nav li{
    
    }


h1 {
    font-size: 35px;
    font-size: 2em;
    color: rgba(203,96,179,1);
    position: absolute;
    padding: 1em;
    box-sizing: border-box;
    width: 80%;
    left: 10%;
    text-align: center;
    top: 10em;
}


h2, h3, h4, h5, h6 {
    font-size: 20px;
    color: rgba(203,96,179,1);
    font-family: 'Futura';
    padding: .5em;
    box-sizing: border-box;
    width: 40%;
}

body {
    background: url("https://unsplash.com/collections/662192/yoga.jpg");
}

ul {
    padding: 1em;
}

p { padding-left:10em;
    padding-right:8em;
    padding-bottom:2em;
}

#hero-example {
    background-image: url(images/ursa-rogelj-147418.jpg);
    background-repeat: no-repeat;
    /* background-position: top right; */
    background-position: 50% 50%;
    background-size: cover;
    position: relative;
    height: 40em;
}

footer {
    background-color:plum;
    position:absolute;
    box-sizing: border-box;
    width:100%; 
    height: 50%;
}